{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		body { padding-left:30px; }
		h2 { color:blue; }
		textarea {width:200px; height:80px; }
	</style>
{% endblock %}

{% block body %}
	<h1>Гостевая книга</h1>
	
	<div id="messages">
		{{ render(controller('App\\Controller\\MessageController::blockAction')) }}
	</div>
		
	<h2>Оставьте вашу запись</h2>
	
	<table>		
		<tr><td>Ваше имя:</td><td><input type="string" name="username" id="username"></td></tr>
		<tr><td>Ваш email:</td><td><input type="string" name="email" id="email"></td></tr>
		<tr><td>Текст:</td><td><textarea name="text" id="text"></textarea></td></tr>
		<tr><td></td><td><input type="button" value="Отправить" onclick="addMessage();"></td></tr>
	</table>
{% endblock %}

{% block javascripts %}
	<script>
		function addMessage()
		{
			var username = $('#username').val().trim();
			var email 	 = $('#email').val().trim();
			var text 	 = $('#text').val().trim();
			
			if (!username) 	{ $.notify('Укажите ваше имя', {type:'danger', 'align':'right'}); return false; }
			if (!email) 	{ $.notify('Укажите ваш email', {type:'danger', 'align':'right'}); return false; }
			if (!text) 		{ $.notify('Укажите текст сообщения', {type:'danger', 'align':'right'}); return false; }
			
			$.ajax({
				url: "{{ path('_message_add') }}",
				data: 'username=' + username + '&email=' + email + '&text=' + text,
				success: function(ret) {
					if (ret == 'ok') {
						loadMessages(1); 
						$.notify('Ваше сообщение добавлено', {type:'success', 'align':'right'});
					} else {
						$.notify(ret, {type:'danger', 'align':'right'});
					}
				}
			});		

			return false;
		}
		
		function loadMessages(page)
		{
			$.ajax({
				url: "{{ path('_messages_block', {'page':'999999'}) }}".replace('999999', page),
				success: function(ret) {
					$('#messages').html(ret);
					$('#username').val('');
					$('#email').val('');
					$('#text').val('');
				}
			});		

			return false;
		}
	</script>		
{% endblock %}