	{% if pager.count > 1 %}	
	
		<style>			
			.pager { float:left; margin-top:10px; }
			.pager span,
			.pager a  { 
				color:black;
				width:20px; font-size:13px; width:22px; padding:1px 0; text-align:center; 
				display:inline-block; 
				border:solid 1px silver;
				text-decoration:none;
				border-radius:4px;
				font-family:'Trebuchet MS';
			}
			.pager span:hover,
			.pager a:hover {
				background-color:#cecece;
				color:black;
			}
			
			.pager span {
				background-color:#cecece;
				color:black;
			}			
		</style>
		
		<div class="pager">
			
			{% if pager.page-5 > 1 %}
				<a title="Перейти к первой странице" href="{{ pager.path|replace({'111111': '1'}) }}" onclick="loadMessages(1); return false;">&#124;&lsaquo;</a>
				{% set pager_first = pager.page-5 %}
			{% else %}
				{% set pager_first = 1 %}
			{% endif %}
				
			{% set pager_last = pager.page+5 < pager.count ? pager.page+5 : pager.count %}	
				
			{% for i in pager_first..pager_last %}
				
				{% if pager.page == i %}
					<span>{{i}}</span>
				{% else %}
					<a href="{{ pager.path|replace({'111111': i}) }}" onclick="loadMessages({{i}}); return false;">{{i}}</a> 
				{% endif %}
				
			{% endfor %}
			
			{% if pager.page+5 < pager.count %}
				<a title="Перейти к последней странице" href="{{ pager.path|replace({'111111': pager.count}) }}" onclick="loadMessages({{pager.count}}); return false;">&rsaquo;&#124;</a>
			{% endif %}
			
		</div>
		<div style="clear:both;"></div>
	{% endif %}	