	{% if Messages %}
		<h2>Последние записи</h2>
		{% for Message in Messages %}
			<div>
				<a href="#" onclick="alert('{{ Message.email }}')">{{ Message.username }}</a>: {{ Message.text }}
				<div style="font-size:11px;"><i>{{ Message.createdAt|date('Y-m-d H:i') }}</i></div>
			</div>
		{% endfor %}
		
		{{ pager.render|raw }}
	{% else %}
		Здесь пока никто ничего не написал :(
	{% endif %}
