<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Гостевая книга{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<script type='text/javascript' src="{{ asset('/plugins/notify/notify.js') }}"></script>
		<link rel="stylesheet" href="{{ asset('/plugins/notify/notify.css') }}" />
		
		<style>
			.wrap-body { width:800px; margin:0px auto; background-color:#f1f1f1; padding:20px;}
			h1 {margin-top:0px;}
		</style>
    </head>
	
    <body>
		<div class="wrap-body">
			{% block body %}{% endblock %}			
		</div>
		
		{% block javascripts %}{% endblock %}
    </body>
</html>
